<footer id="main-footer">
    <div class="container">
        <div class="row">

            <nav class="navbar navbar-expand d-block mx-auto">
                <div id="navbar">
                    <ul class="navbar-nav nav w-100">

                        {% if page.active == "home" %}
                        <li class="active"><a href="#">Home</a></li>
                        {% else %}
                        <li><a href="../index.html ">Home</a></li>
                        {% endif %}

                        {% if page.active == "about" %}
                        <li class="active"><a href="#">About</a></li>
                        {% else %}
                        <li><a href="../about.html ">About</a></li>
                        {% endif %}

                        {% if page.active == "intensive" %}
                        <li class="active"><a href="#">Intensive</a></li>
                        {% else %}
                        <li><a href="../intensive.html">Intensive</a></li>
                        {% endif %}

                        {% if page.active == "pricing" %}
                        <li class="active"><a href="#">Pricing</a></li>
                        {% else %}
                        <li><a href="../pricing.html">Pricing</a></li>
                        {% endif %}

                        {% if page.active == "show" %}
                        <li class="active"><a href="#">Show</a></li>
                        {% else %}
                        <li><a href="../show.html">Show</a></li>
                        {% endif %}

                        {% if page.active == "cars" %}
                        <li class="active"><a href="#">Cars</a></li>
                        {% else %}
                        <li><a href="../cars.html">Cars</a></li>
                        {% endif %}

                    </ul>
                </div>
            </nav>

            <!--copyright-->
                <div class="container pt-3 text-center">
                    <div class="row">

                        <div class="d-block mx-auto text-light">
                            <p class="mb-0">Made by <a href="http://dragoninfotech.com" target="_blank">dragoninfotech.com</a></p>
                        </div>

                    </div>
                </div>
        </div>
    </div>
</footer>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<script src="{{site.url}}/assets/js/source.js"></script>

</body>
</html>