<!--NAVBAR-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{{ site.url }}/assets/img/revs-logo-draft.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="navbar">
            <nav class="navbar navbar-expand ml-auto">
                <div id="navbar">
                    <ul class="navbar-nav nav w-100">

                        {% if page.active == "home" %}
                        <li class="active"><a href="#">Home</a></li>
                        {% else %}
                        <li><a href="../index.html ">Home</a></li>
                        {% endif %}

                        {% if page.active == "about" %}
                        <li class="active"><a href="#">About</a></li>
                        {% else %}
                        <li><a href="../about.html ">About</a></li>
                        {% endif %}

                        {% if page.active == "intensive" %}
                        <li class="active"><a href="#">Intensive</a></li>
                        {% else %}
                        <li><a href="../intensive.html">Intensive</a></li>
                        {% endif %}

                        {% if page.active == "pricing" %}
                        <li class="active"><a href="#">Pricing</a></li>
                        {% else %}
                        <li><a href="../pricing.html">Pricing</a></li>
                        {% endif %}

                        {% if page.active == "show" %}
                        <li class="active"><a href="#">Show</a></li>
                        {% else %}
                        <li><a href="../show.html">Show</a></li>
                        {% endif %}

                        {% if page.active == "cars" %}
                        <li class="active"><a href="#">Cars</a></li>
                        {% else %}
                        <li><a href="../cars.html">Cars</a></li>
                        {% endif %}

                    </ul>
                </div>
            </nav>
</header>