---
---

@import 'custom/bootstrap-override';
@import 'bootstrap/bootstrap';
@import 'custom/includes/header';
@import 'custom/includes/social';
@import 'custom/includes/footer';
@import 'custom/helpers/global-classes';
@import 'custom/helpers/mixins';
@import 'custom/vendors/juice';

/*
 * Website Name - Rev Driving School
 * Date - 5/11/18
 * Designed by Michael Owens / Dragon Info Tech
 */
//googlefont
@import url('https://fonts.googleapis.com/css?family=Audiowide|Open+Sans:300');


//HOMEPAGE


//ABOUT


//INTENSIVE COURSE
//card title
#intensive h3{
  font-size: rem-calc(16px);
}

//card header bg colour
.card-header--amber{
  background-color: orange;
}

//card header bg colour
.card-header--green{
  background-color: limegreen;
}

//PRICING
.price-container{
  width:100%;
  background-color: $gray-100;
}

//SHOW / TELL


//CARS

.accordion h5 .btn {white-space: normal; text-align: left}

.card{
  min-height: 550px;
}